.slider-btn{
    position: absolute;
    left:0;
    bottom: 0;
    display: flex;
    background-color: black;
    width: 26.8%;

    @media (max-width: 1145px){
        bottom: 100%;
        left: unset;
        right: 0;
        width: 200px;
    }

    &__link{
        display: block;
        width: 50%;
        height: 107px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: black;
        cursor: pointer;

        &:hover{
            background-color: #444444;
        }
    }


}